#map{
    height: 400px;
}

p{
    display: inline-flex;
    margin-left: 170px;
}

.orange-btn{
margin-right: -10px;
margin-top: 3px;
font-size: 50px;
}

.icon{
    font-size: 'w3-tiny';
}

#orange-btn-wrapper{
    display: flex;
    justify-content: center;
    font-size: 50px;
}

.header {
    padding: 50px;
    text-align: center;
    background: #1abc9c;
    color: white;
    font-size: 30px;
    font-family: 'yellowtail', serif;
    border: 10px solid green
  }

.sidenav{
    height: 100%;
    width: 160px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden; /* disable horizontal scroll */
    padding-top: 20px;
}

.sidenav a{
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 17px;
    color: #818181;
    display: block;
}

.sidenav a:hover{
    color: #f1f1f1;
}

#restList{
    color: white;
}

.main{
    margin-left: 160px;
    padding: 0px 10px;
}

@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}

#orange-btn-wrapper{
    display: flex;
    justify-content: center;
}

button{
    box-shadow: 0px 3px 15px rgba(0,0,0,0.2);
    margin-left: auto;
    margin-right: auto;
}

.orange-btn{
    border-style: none;
    outline-style: none;
    background-color: salmon;
    color: white;
    font-family: "Alegreya sans sc", serif;
    font-size: 10px;
    height: 25px;
    line-height: 18px;
    width: 100px;
    padding: 0px;
    text-align: center;
    margin: 15px;
    line-height: 2.5em;
}

#name-email {
    display: flex;
    flex-direction: row;
}

#name{
    width: 8em;
    margin: .05em;
}

#email{
    width: 8em;
    margin: .05em;
}

.name-email-input:focus::placeholder{
    color: white;
}

.message-input::placeholder{
   font-family: Arial, Helvetica, sans-serif
}

.message-input:focus::placeholder{
   color: white;
}

.message-input{
    resize: none;
    width: 17em;
}

#questions{
    display: flex;
    justify-content: center;
}

.icon{
    float: left;
    margin: 10px;
    margin-top: -1px;
    border-radius: 50%;
    size: 5px;
}

#footer-content{
    background-color: #ededed;
    width: calc(100% + 15px);
    margin: -7px;
}

#footer-contact-info{
    display: flex;
    flex-direction: column;
}

#footer-lower{
    display: flex;
    flex-direction: row;
    margin-left: auto;
    margin-right: auto;
    width: 500px;
}

.content-width{
    width: 65%;
    /* min-width: 700px; */
}

.home-img-container{
    display: flex;
    justify-content: space-around;
}

.home-img-wrapper {
    width: calc(30% - 30px);
    padding: 10px;
    height: auto;
}

.image{
    padding: 0;
    width: 100%;
    height: 100%;
    background-size: contain;
}

.img-title{
    display: flex;
    justify-content: center;
}
